<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crawler Output for Huawei Appstore</title>
</head>
<!--use liquid tag and liquid output here to help render-->
<body>
    {% for app in apps %}
    <h3>{{ app.title }}</h3>
    <div>{{ app.intro }}</div>
    <img src="{{ url_for('images', filename=app.image_paths[0]) }}"/>
    <ul>
        {% for rec in app.recommended %}
        <li>{{ rec.name }} : {{ rec.rank }} : {{ rec.url }} </li>
        {% endfor %}
    </ul>
    <hr />
    {% endfor %}
</body>
</html>